.data-input {
    .inline-input {
        width: 15.8%;
        display: inline-block;
        margin: 0 0.1rem;
    }

    .add-button {
        position: relative;
        top: 30px;
        // left: -30px;
    }

    margin-bottom: 2rem;
}